*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

nav{
    background-color: #00BFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:61px 80px 10px 80px;
}
nav div{
    font-size: 32;
    font-family: Montserrat;
    color: #ffffff;
}
nav div i>span{
    color: #FF6347;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 10px;
}
nav ul li>a{
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #FF6347;
    padding: 10px;
    background-color: #ffffff;
    color: #FF6347;
    border-radius: 5px;
}
.hero{
    background-image: url(../assests/heroBg.png);
    width: 100%;
    height: 409px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain; 
}
.heroText{
    padding: 208px 528px 208px 107px;
}
.heroText h1{
    font-size: 54px;
    font-weight: bold;
    margin-bottom: 40px;
}
.heroText input{
    width: 455px;
    height: 56px;
    padding-left: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 20px;
}
input::placeholder{
    font-size: 18px;
    font-weight: medium;
    color: #000000;
}
.heroText button{
    width: 200px;
    height: 56px;
    background-color: #FF6347;
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* margin-right: 20px; */
}
.heroText button>a{
    color: #ffffff;
    
}
.menuContainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.menuContainer div img{
    width: 150px;
    height: auto;
}